html {
  font-size: 10px;
}
body {
  margin: 0;
}
main {
  clear: both;
  max-width: 1024px;
  margin: auto;
}

a {
  font-size: 1.8rem;
  color: #333;
  font-family: 'futura-pt', 'Helvetica';
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: 'futura-pt', 'Helvetica';
  font-weight: 700;
}
h1 {
  font-size: 7rem;
  line-height: 0.8;
  margin: 1rem 0rem;
}
h2 {
  font-size: 6rem;
  line-height: 0.8;
  margin: 1rem 0rem;
}
h3 {
  font-size: 3rem;
  line-height: 0.8;
  margin: 1rem 0rem;
}
h4 {
  font-size: 2rem;
  line-height: 0.8;
  margin: 1rem 0rem;
}
h5 {
  font-size: 1.7rem;
  line-height: 0.8;
  margin: 1rem 0rem;
}
h6 {
  font-size: 1.1rem;
  line-height: 0.8;
  margin: 1rem 0rem;
}
p {
  font-size: 1.6rem;
  line-height: 0.8;
  margin: 1rem 0rem;
}

p, li {
  font-family: 'futura-pt', 'Helvetica';
  font-weight: 300;
  text-align: left;
}


/*buttons*/
.mp-button {
  color: #fff;
  border-radius: 15px;
  background-color: #2BA388;
  font-size: 2rem;
  padding: 1rem;
  border: none;
  webkit-appearance: none;
  transition: all 0.2s ease-in;
}
.mp-button:hover {
  padding: 1.2rem;
  background-color: #4bc3a8;
}
.mp-button:focus {
  outline: none;
}

.mp-removelink {
  font-size: 1.8rem;
}

.mp-thumbnail {
  width: 180px;
}


.mp-promobanner {
  padding: 0.1rem 0.5rem;
  background-color: #E3E3E3;
}
.mp-promobanner p {
  margin: 0.3rem 0;
}

.mp-menu {
  margin: 0;
  padding: 0 2rem;
  display: flex;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}
.mp-menu ul {
  padding-left: 0;
  list-style-type: none;
}
.leftnav {
  display: flex;
  justify-content: center;
}
.rightnav {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
}
.leftnav li {
  padding-right: 2rem;
}
.leftnav li, .rightnav li {
  align-self: center;
}
.mp-logo {
  width: 228px;
}

.mp-hero section {
  position: absolute;
  margin-left: 50rem;
  color: #fff;
  margin-top: 10rem;
}

.mp-article-header {
  margin-top: 5rem;
  float: left;
}
.mp-article-img {
  margin-left: auto;
  float: right;
  width: 1024px;
}
.mp-cart img {
  max-width: 35px;
}
.mp-sidebar {
  left: 0;
  width: 300px;
  list-style-type: none;
  position: absolute;
  background-color: #fff;
}
.mp-sidebar li {
  margin: 3rem auto;
}
.mp-featured {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}
.mp-featured * {
  color: #2F2F2F;
  text-decoration: none;
  text-align: center;
}
.mp-featured .img-container {
  width: 270px;
  border: 1px solid #ccc;
}
.img-container img {
  max-height: 180px;
  max-width: 100%;
}

.mp-shopping-cart {
  right: 0;
  width: 300px;
  position: absolute;
  top: 0px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  visibility: hidden;
  opacity: 0%;
  transition: all 0.2s ease-in;
}


.mp-product-row
 {
   margin: auto;
   margin-top: 5rem;
   display: flex;
   width: 1024px;
   justify-content: space-between;
 }
 .mp-thumbnails {
   width: 150px;
 }
 .mp-thumbnails img {
   width: 128px;
 }
 #mp-focused-img-container {
   width: 500px;
 }
 #mp-focused-img-container img {
   width: 489px;
 }
 .mp-focused-item {
   width: 270px;
 }
/*utility classes*/

.fake-link {
  text-decoration: underline;
}
.show {
  top: 70px;
  opacity: 100%;
  visibility: visible;
}
.expand {
  width: 100%;
}
