html {
  font-size: 10px;
}
body {
  margin: 0;
}
main {
  clear: both;
  max-width: 1024px;
  margin: auto;
}

a {
  font-size: 1.8rem;
  color: #333;
  font-family: 'futura-pt', 'Helvetica';
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: 'futura-pt', 'Helvetica';
  font-weight: 700;
}
h1 {
  font-size: 7rem;
  line-height: 0.8;
  margin: 1rem 0rem;
}
h2 {
  font-size: 6rem;
  line-height: 0.8;
  margin: 1rem 0rem;
}
h3 {
  font-size: 3rem;
  line-height: 0.8;
  margin: 1rem 0rem;
}
h4 {
  font-size: 2rem;
  line-height: 0.8;
  margin: 1rem 0rem;
}
h5 {
  font-size: 1.7rem;
  line-height: 0.8;
  margin: 1rem 0rem;
}
h6 {
  font-size: 1.1rem;
  line-height: 0.8;
  margin: 1rem 0rem;
}
p {
  font-family: 'futura-pt', 'Helvetica';
  font-size: 2rem;
  margin: 1rem 0rem;
}

li {
  font-family: 'futura-pt', 'Helvetica';
  font-weight: 300;
  text-align: left;
}

.mp-label {
  font-size: 1.5rem;
  font-family: 'futura-pt', 'Helvetica';
  font-weight: 300;
  text-align: left;
}
.mp-hint-text {
  font-size: 1.5rem;
  color: #A2A2A2;
  margin: 0.1rem 0;
  line-height: 0.8;
}

/*buttons*/
.mp-button {
  font-family: 'futura-pt', 'Helvetica';
  font-weight: 600;
  color: #fff;
  border-radius: 15px;
  background-color: #2BA388;
  font-size: 2rem;
  padding: 1rem;
  border: none;
  webkit-appearance: none;
  transition: all 0.2s ease-in;
}
.mp-button:hover {
  padding: 1.2rem;
  background-color: #4bc3a8;
}
.mp-button:focus {
  outline: none;
}

.mp-removelink {
  font-size: 1.8rem;
}

.mp-thumbnail {
  width: 180px;
}


.mp-promobanner {
  padding: 0.1rem 0.5rem;
  background-color: #E3E3E3;
}
.mp-promobanner p {
  margin: 0.3rem 0;
}

.mp-menu {
  margin: 0;
  padding: 0 2rem;
  display: flex;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}
.mp-menu ul {
  padding-left: 0;
  list-style-type: none;
}
.leftnav {
  display: flex;
  justify-content: center;
}
.rightnav {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
}
.leftnav li {
  padding-right: 2rem;
}
.leftnav li, .rightnav li {
  align-self: center;
}
.mp-logo {
  width: 228px;
}

.mp-hero section {
  position: absolute;
  margin-left: 50rem;
  color: #fff;
  margin-top: 10rem;
}

.mp-article-header {
  margin-top: 5rem;
  float: left;
}
.mp-article-img {
  margin-left: auto;
  float: right;
  width: 1024px;
}

.mp-container {
  margin: 1rem 0;
}

.color-ctrl input[type="radio"], .size-ctrl input[type="radio"] {
  display: none;
}

.size-ctrl {
  margin: 0;
  display: flex;
  justify-content: space-between;
  border: 1px solid #4b4f59;
  border-radius: 15px;
}
.color-ctrl {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.color-ctrl label {
  width: 32px;
  height: 32px;
  box-shadow: inset 0 0 0 1px #d6dadf;
}
.color-option.strawberry {
  background-color: #FF3F3F;
}
.color-option.blackberry {
  background-color: #250A82;
}
.color-option.crazyberry {
  background: linear-gradient(180deg, #F84AFF 0%, #76011A 100%);
}
.color-option.camo {
  background-image: url("/resources/images/camo.png");
  background-size: cover;
}
.color-option.night_moon {
  background: linear-gradient(180deg, #2C1773 0%, #83B5C3 100%);
}
.color-option.fire_orange {
  background-color: #FF9D63;
}
.color-option.active {
  border: 3px solid #333;
}
.size-ctrl label {
  display: flex;
  height: 32px;
  border-right: 1px solid #333;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.size-ctrl label:last-child {
  border-right: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.size-ctrl label:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.size-ctrl label.active {
  	background-color: #2BA388;
    color: #fff;
}

.product-feat-description {
  display: flex;
  justify-content: space-between;
}
.product-feat-copy {
  width: 416px;
}
.product-feat-img img {
  width: 519px;
}

.mp-cart img {
  max-width: 33px;
}

.mp-cart-item {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0.5rem;
  align-items: center;
}

.mp-cart-item h5 {
  display: inline-block;
  width: 150px;
  margin: 0;
}

.mp-cart-item a {
  font-weight: 500;
  text-decoration: none;
  color: #2BA388;
  text-transform: uppercase;
  font-size: 1.3rem;
}
.mp-cart-item img {
  max-width: 75px;
}

.mp-sidebar {
  left: 0;
  width: 300px;
  list-style-type: none;
  position: absolute;
  background-color: #fff;
}
.mp-sidebar li {
  margin: 3rem auto;
}
.mp-sidebar li.active {
  width: 400px;
  background-color: #fff;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.mp-sidebar li.active h4 {
  font-size: 3rem;
}

.mp-sidebar h4:hover {
  transition: all 0.2s ease-in;
  font-size: 2.4rem;
}
.mp-sidebar a {
  text-decoration: none;
}
.mp-featured {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}
.mp-featured * {
  color: #2F2F2F;
  text-decoration: none;
  text-align: center;
}
.mp-featured .img-container {
  width: 270px;
  border: 1px solid #ccc;
}
.img-container img {
  max-height: 180px;
  max-width: 100%;
}


.mp-product-list section {
  max-width: 1040px;
  display: flex;
  align-items: center;
}
.mp-product-list section .description-container {
  display: flex;
  justify-content: flex-start;
}
.mp-product-list section .product-price {
  margin-left: auto;
}

.mp-shopping-cart {
  right: 0;
  width: 300px;
  position: absolute;
  top: 0px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  visibility: hidden;
  opacity: 0%;
  transition: all 0.2s ease-in;
  padding-left: 0;
}
.mp-shopping-cart header {
  text-align:center;
  color: #fff;
  padding: 2rem 0;
  width: 100%;
  background-color: #2BA388;
}
.mp-shopping-cart .mp-button {
  margin: 0.5rem;
  background-color: #CF9100;
}
.mp-shopping-cart .mp-button:hover {
  background-color: #eFb120;
}

.mp-total {
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.mp-product-row
 {
   margin: auto;
   margin-top: 5rem;
   display: flex;
   width: 1024px;
   justify-content: space-between;
 }
 .mp-thumbnails {
   width: 150px;
 }
 .mp-thumbnails img {
   width: 128px;
 }
 #mp-focused-img-container {
   width: 500px;
 }
 #mp-focused-img-container img {
   width: 489px;
 }
 .mp-focused-item {
   width: 270px;
 }
/*utility classes*/

.fake-link {
  text-decoration: underline;
}
.show {
  top: 70px;
  opacity: 100%;
  visibility: visible;
}
.expand {
  width: 100%;
}
